<div class="headerdiv">
  <h2>Approve Tax Representative</h2>
</div>

<div *ngIf="!loaded" style="text-align: center; margin-top: 50px;">
    <p style="color:red;">Data Couldn't be loaded</p>
</div>
<div *ngIf="zeroData" style="text-align: center; margin-top: 50px;">
    <p style="color:red;">No Data Found!</p>
</div>
<div *ngIf="approveFailed" style="text-align: center; margin-top: 50px;">
  <p style="color:red;">Approve Failed! Please try again!</p>
</div>
<table mat-table [dataSource]="representativesArr" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="itp_name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.itp_name}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="tin_no">
      <th mat-header-cell *matHeaderCellDef> TIN No </th>
      <td mat-cell *matCellDef="let element"> {{element.tin_no}} </td>
    </ng-container>

   
    <ng-container matColumnDef="lic_no">
    <th mat-header-cell *matHeaderCellDef> License No  </th>
    <td mat-cell *matCellDef="let element"> {{element.lic_no}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type  </th>
      <td mat-cell *matCellDef="let element"> {{element.type=="0"?"ITP":element.type=="1"?"Advocate":element.type=="2"?"FCMA/FCA":element.type=="3"?"ICMA/ICAB":element.type=="4"?"ICSB":"Others"}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action</th>
    <td mat-cell *matCellDef="let element; let i=index;"> 
        <app-ns-button
            [ns_label]="buttonLabel"
            [ns_color]="buttonColor" 
            [ns_type]="buttonType"
            (click)="details(element.tin_no, i)">
        </app-ns-button>
        <app-ns-button
            [ns_label]="buttonLabel1"
            [ns_color]="buttonColor1" 
            [ns_type]="buttonType1"
            (click)="approve(element.tin_no,i)">
        </app-ns-button>
        <app-ns-button
            [ns_label]="buttonLabel2"
            [ns_color]="buttonColor2" 
            [ns_type]="buttonType2"
            (click)="reject(element.tin_no,i)">
        </app-ns-button>
    </td>

        
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  